<h2>Unidades Judiciárias</h2>

<app-my-breadcrumb [breadcrumbItens]="breadcrumbItens"></app-my-breadcrumb>

<div class="p-grid">
  <div *ngFor="let uj of unidadesJudiciarias$ | async" class="p-col-12 my-2">
    <p-panel [header]="uj | unidadeJudiciaria">

      <div class="row">
        <div class="col">
          <label>Tipo de Unidade</label>
          <p>{{ uj.tipoUnidade.descricao }}</p>
        </div>
        <div class="col">
          <label>Classificação</label>
          <p>{{ uj.classificacaoUnidade.descricao }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <label>Estoque</label>
          <p>{{ uj.estoque }}</p>
        </div>
        <div class="col">
          <label>Taxa de Congestionamento Líquida</label>
          <div class="chart-conteiner-60">
            <canvas [style]="{width: '60%'}"
                    baseChart
                    class="pie"
                    chartType="pie"
                    [colors]="tclColors"
                    [labels]="['Congestionado', 'Livre']"
                    [data]="[uj.taxaCongestionamentoLiquida, 100 - uj.taxaCongestionamentoLiquida]"></canvas>
          </div>
        </div>
        <div class="col">
          <label>Taxa de Congestionamento Total</label>
          <div class="chart-conteiner-60">
            <canvas [style]="{width: '60%'}"
                    baseChart
                    class="pie"
                    chartType="pie"
                    [colors]="tctColors"
                    [labels]="['Congestionado', 'Livre']"
                    [data]="[uj.taxaCongestionamentoTotal, 100 - uj.taxaCongestionamentoTotal]"></canvas>
          </div>
        </div>
        <div class="col">
          <label>Validações</label>
          <div class="chart-conteiner-60">
            <canvas [style]="{width: '60%'}"
                    baseChart
                    class="pie"
                    chartType="pie"
                    [colors]="vldColors"
                    [labels]="['Sem erros', 'Com erros', 'Não analisado']"
                    [data]="[55, 20, 25]"></canvas>
          </div>
        </div>

      </div>
    </p-panel>
  </div>
</div>
