<div class="text-center">
  <img src="assets/img/validador.svg" alt="Dajud logo valida" class="img-fluid">
</div>

<div class="card mt-3 mb-0">
  <div class="card-body">
    <h3 class="card-title">Nossa solução</h3>
    <p>
      O <em>CNJ INOVA</em> é um ciclo de inovação colaborativa.
      O Conselho Nacional de Justiça (CNJ) convida os profissionais de áreas multidisciplinares para que desenvolvam soluções inovadoras, descentralizadas e disruptivas que beneficiarão toda a sociedade.
    </p>

    <h5 class="card-title"># Funcionalidades</h5>
    <p>
      O <em>CNJ INOVA</em> é um ciclo de inovação colaborativa.
      O Conselho Nacional de Justiça (CNJ) convida os profissionais de áreas multidisciplinares para que desenvolvam soluções inovadoras, descentralizadas e disruptivas que beneficiarão toda a sociedade.
    </p>

    <strong>## Disponíveis</strong>
    <ul>
      <li>Validação de processos por Unidade Judiciária</li>
    </ul>

    <strong>## Em planejamento</strong>
    <ul>
      <li>Agendamento para execução de validação</li>
    </ul>

    <h5 class="card-title"># Arquitetura</h5>
    <p>
      O <em>CNJ INOVA</em> é um ciclo de inovação colaborativa.
      O Conselho Nacional de Justiça (CNJ) convida os profissionais de áreas multidisciplinares para que desenvolvam soluções inovadoras, descentralizadas e disruptivas que beneficiarão toda a sociedade.
    </p>
  </div>
</div>

<div class="card mt-3 mb-0">
  <div class="card-body">
    <h3 class="card-title">CNJ Inova ::: Desafio 2</h3>
    <p>
      O <em>CNJ INOVA</em> é um ciclo de inovação colaborativa.
      O Conselho Nacional de Justiça (CNJ) convida os profissionais de áreas multidisciplinares para que desenvolvam soluções inovadoras, descentralizadas e disruptivas que beneficiarão toda a sociedade.
    </p>
    <p class="card-text">
      <span><em>DESAFIO 2 - INCONSISTÊNCIAS DE DADOS NOS SISTEMAS DOS TRIBUNAIS</em></span><br>
      Como podemos identificar e corrigir na base do DataJud as inconsistências nos metadados dos processos em
      tramitação nos sistemas dos tribunais? <em>#saneamento</em>
    </p>
  </div>
</div>
