label {
  display: block;
}

#badges {
  margin-top: 0.8em;
}

#resultados {
  margin: 1.2em;
}

.contador {
  margin: 0.2em;
}

.validacoes-count {
  text-align: right;
}

.table-results {
  font-size: 8px;
}
