<p-toast></p-toast>

<h1><i class="pi pi-compass"></i> Validações processuais </h1>
<hr>

<p-card header="Escolha as validações que devem ser executadas" class="my-4">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <label style="display: block">Tipo de Validador</label>
      <p-dropdown id="tipoDropdown" [options]="tipoSelectItems" [(ngModel)]="tipoSelecionado"
                  (ngModelChange)="refresh()" [style]="{'width':'100%'}"></p-dropdown>
    </div>
  </div>
</p-card>

<p-card class="my-4 validacoes">
  <p-table [value]="validadores$ | async" [responsive]="true" [autoLayout]="true" cellspacing="0" cellpadding="0">
    <ng-template pTemplate="header">
      <tr>
        <th class="p-text-center">Descrição</th>
        <th>Habilitada</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-validador>
      <tr>
        <td class="p-text-center">{{ validador.title }}</td>
        <td>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" [(ngModel)]="validador.enabled"
                   (ngModelChange)="alterarValidadorHabilitado($event, validador)">
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
