<p-toast></p-toast>

<h1><i class="pi pi-compass"></i> Validações processuais </h1>
<hr>

<p-card style="margin-bottom: 100px">
  <h4>Escolha as validações que devem ser executadas</h4>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <span class="h-100 align-bottom">Tipo de validador:</span>
      </div>
      <div class="col-sm">
        <p-dropdown id="tipoDropdown" [options]="tipoSelectItems"
                    [(ngModel)]="tipoSelecionado" (ngModelChange)="refresh()">
        </p-dropdown>
      </div>
    </div>
  </div>
</p-card>
<br>
<p-card>
  <p-table [value]="validadores$ | async" [responsive]="true" [autoLayout]="true" cellspacing="0" cellpadding="0">
    <ng-template pTemplate="header">
      <tr>
        <th>#</th>
        <th class="p-text-center">Descrição</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-validador>
      <tr>
        <td>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" [(ngModel)]="validador.enabled"
              (ngModelChange)="alterarValidadorHabilitado($event, validador)">
          </div>
        </td>
        <td class="p-text-center">{{ validador.title }}</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
