<p-panel class="painel-unidade-judiciaria" [header]="unidadeJudiciaria | unidadeJudiciaria">

  <p class="mb-0"><small><strong>Tipo de Unidade:</strong> {{ unidadeJudiciaria.tipoUnidade.descricao }}</small></p>
  <p class="mb-0"><small><strong>Classificação:</strong> {{ unidadeJudiciaria.classificacaoUnidade.descricao }}</small></p>

  <app-resultados-validacoes [unidadeJudiciaria]="unidadeJudiciaria"></app-resultados-validacoes>

  <p-footer class="painel-unidade-judiciaria-footer">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-6 my-2">
        <button pButton type="button" label="Iniciar/agendar validações" icon="pi pi-play"
                class="p-button-raised p-button-sm btn-action" style="width: 100%"></button>
      </div>
      <div class="col-xs-12 col-sm-6 my-2">
        <button pButton type="button" label="Detalhar processos" icon="pi pi-search"
                class="p-button-raised p-button-sm btn-action" style="width: 100%"></button>
      </div>
    </div>
  </p-footer>
</p-panel>
